body {
  font-size: 14px;
  line-height: 16px;
  margin: 0px;
  display: block;
}

header {
  padding-bottom: 50px;
  padding: 20px;
  background-color: #031711;
  display: flex;
  justify-content: space-between;
}
header h1 {
  color: #FCDC34;
  text-align: left;
  font-size: 28px;
  font-family: "Grenze Gotisch", serif;
}

.header_div {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.header_list {
  display: flex;
  align-content: center;
  font-size: 20px;
}
.header_list li {
  margin-right: 50px;
}

.div_logo {
  margin-left: 20px;
}

@media screen and (max-width: 500px) {
  header {
    display: flex;
    justify-content: center;
    padding: 10px;
  }
  .header-selection {
    display: none;
  }
  h1 {
    display: flex;
    align-content: center;
    z-index: 6;
  }
}
.custom-shape-divider-top-1707348144 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: 5;
}

.custom-shape-divider-top-1707348144 svg {
  position: relative;
  display: block;
  width: calc(132% + 1.3px);
  height: 43px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1707348144 .shape-fill {
  fill: #031711;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-top-1707348144 svg {
    width: calc(113% + 1.3px);
    height: 257px;
  }
}
.hero_section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.82), rgba(63, 57, 57, 0.5)), url("../images/markshrumhouse.jpeg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  padding: 175px 0px;
  position: relative;
}

.hero_section::after {
  content: " ";
  position: absolute;
  inset: 0;
  z-index: 5;
}

.hero_section > * {
  grid-column: 1/-1;
  grid-row: 1/-1;
}

.hero-img {
  position: relative;
}

.hero-block {
  padding-top: 40px;
  padding-bottom: 40px;
}

.image-container {
  display: grid;
  place-items: center;
  isolation: isolate;
}

.image-container > h2 {
  grid-column: 1/-1;
  grid-row: 1/-1;
}

.hello-div {
  display: flex;
  justify-content: center;
}

.hello {
  z-index: 2;
  color: white;
  font-family: Josefin Sans;
  font-size: 25px;
  font-weight: 1000;
}

* {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Ysabeau Infant", sans-serif;
}

/* Set base font styles */
/* Header */
nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
}

/* Hero section */
#hero {
  background-image: url();
  background-size: cover;
  text-align: center;
  padding: 60px 0;
  color: #fff;
}

.hero-img {
  height: auto;
  max-width: 350px;
}

.hero-content {
  max-width: 500px;
  margin: 0 auto;
}

p {
  font-size: 16px;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  background-color: #2e6163;
  color: #fff;
  padding: 10px 50px;
  text-decoration: none;
  border-radius: 5px;
}

/* Services section */
#services {
  text-align: center;
  background-color: #f1f1f1;
  border-top-right-radius: 20px;
  border-top-left-radius: 22px;
  background-color: #031711;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.service {
  margin: 10px;
  padding-top: 20px;
  border-style: solid;
  border-color: #2e6163;
  border-radius: 10px;
  border-width: 3px;
}

.service img {
  width: 100%;
  max-width: 300px;
  height: auto;
  margin-bottom: 10px;
  border-radius: 20px;
}

h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

/* About section */
#about {
  padding: 60px 0;
  text-align: center;
}

/* Contact section */
#contact {
  padding: 60px 0;
  text-align: center;
  background-color: #f1f1f1;
  border-radius: 20px;
}

form input,
form textarea {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
}

form button {
  background-color: #2e6163;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Footer */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

footer p {
  font-size: 14px;
}

.main-text {
  padding: 50px 20px;
  background-color: #031711;
  color: white;
  border-radius: 0px 0px 20px 20px;
}

.h2-text {
  line-height: 1.5;
  text-align: center;
  font-size: 32px;
  margin-bottom: 25px;
}

.phone-div {
  display: flex;
  justify-content: center;
}

.call-phone {
  text-align: center;
  font-size: 32px;
  color: white;
}

.ourServices {
  color: #2e6163;
  font-size: 42px;
  padding: 30px 0px;
  font-family: Ysabeau Infant;
}

.service {
  background-color: wheat;
  box-shadow: 10px 11px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 11px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 11px 5px 0px rgba(0, 0, 0, 0.75);
}

.title {
  font-size: 28px;
  color: #2e6163;
  margin-bottom: 10px;
}

.p-text {
  margin: 10px;
}

.call-phone {
  animation: colorChange 6s 10s;
}

@keyframes colorChange {
  0% {
    color: white;
  }
  50% {
    color: rgb(255, 235, 12);
  }
  100% {
    color: white;
  }
}
.form {
  margin: 20px;
}

.input-footer {
  color: #2e6163;
  border: 2px solid #13a8ae;
  outline: none;
}

.input-footer:focus {
  outline: 1.5px solid #1f696c;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #031711;
}

.initial-screen {
  background-color: #031711;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  animation: fadeInBackground 5s cubic-bezier(0.23, 1, 0.32, 1) forwards;
}

.logo-container img {
  width: 300px;
  transition: opacity 1s ease-in-out;
}

@keyframes fadeInBackground {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.main-content {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.main-content.loaded {
  opacity: 1;
}

.initial-screen.hidden {
  display: none;
}/*# sourceMappingURL=main.css.map */