body {
    font-size: 14px;
    line-height: 16px;
    margin: 0px;
    display: block;

}

header {
    padding-bottom: 50px; 
    padding: 20px;
    background-color: #031711;
    display: flex;
    justify-content:space-between;
    h1 {
    color:#FCDC34;
    text-align: left;
    font-size: 28px;
    font-family: 'Grenze Gotisch', serif;
     }
}
.header_div {
    padding-top: 20px;
    padding-bottom:20px;
    display: flex;
    justify-content: space-between;
}
.header_list {
    display:flex;
    align-content: center;
    font-size: 20px;
    
    li {
        margin-right: 50px;
    }
}
.div_logo {
  margin-left:20px;
}

// header media queries 

@media screen and (max-width: 500px) {
    header{
        display:flex;
        justify-content: center;
        padding:10px;
    }
    .header-selection {
        display:none;
    }
    h1 {
        display: flex;
        align-content: center;
        z-index:6
        
    }
}
.custom-shape-divider-top-1707348144 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: 5;
}

.custom-shape-divider-top-1707348144 svg {
    position: relative;
    display: block;
    width: calc(132% + 1.3px);
    height: 43px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1707348144 .shape-fill {
    fill: #031711;
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-top-1707348144 svg {
        width: calc(113% + 1.3px);
        height: 257px;
    }
}