body {
    font-family: 'Ysabeau Infant';
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    margin: 0px;
    display: block;

}

header {
    padding-bottom: 50px; 
    padding: 20px;
    h1 {
    color: #105717;
     }
}
.header_div {
    padding-top: 20px;
    padding-bottom:20px;
    display: flex;
    justify-content: space-between;
}
.header_list {
    display:flex;
    align-content: center;
    font-size: 20px;
    
    li {
        margin-right: 50px;
    }
}
.div_logo {
  margin-left:20px;
}