.hero_section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.82), rgba(63, 57, 57, 0.5)),url("/images/sebrena\ rangerover.jpeg");
    // needs a lightbox to switch between 5 different soaped up cars 
    background-attachment: fixed;
    background-size: cover;
    background-position:center;
    padding:175px 0px;
    position:relative;
    
}
.hero_section::after {
    content: " ";
    position: absolute;
    inset: 0;
    z-index: 5;
   // background: black;
 }

.hero_section > * {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
}
.hero-img {

  position:relative;
}

  
.hero-block {
    padding-top:40px;
    padding-bottom:40px;
}

.image-container {
   display: grid;
    place-items: center;
    isolation: isolate;
}
.image-container > h2 {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
}

.hello-div {
   display:flex; 
   justify-content: center;
}
.hello {
    z-index:2;
    color: white;
    font-family:Josefin Sans;
    font-size:25px;
    font-weight: 1000;
}
