.main-text {
  padding: 50px 20px;
  background-color:#2196f3;
  color:white;

}

.h1-text {
    line-height:1.5;
    text-align: center;
    font-size: 32px;


    border-style:inset;
    border-style: inset;
    border-width: 2.5px;
    border-color: aquamarine white white aquamarine;
}
.phone-div {
    display:flex;
    justify-content: center;
}
.call-phone {
    text-align: center;
    font-size: 32px;
    color: white;
}