.main-text {
    background-color: #031711;
    color:white; 
    border-radius: 32px 32px 0px 0px;
}

.h2-text {
    line-height:1.5;
    text-align: center;
    font-size: 32px;
    margin-top: 0px;
    margin-bottom: 25px;
    padding-top: 20px;
}
.phone-div {
    display:flex;
    justify-content: center;
}
.call-phone {
    text-align: center;
    font-size: 32px;
    color: white;
}
.ourServices {
    color:#2e6163;
    font-size: 42px;
    padding: 30px 0px;
    font-family: Ysabeau Infant;
}
.service {
    background-color: none;
    // box-shadow: 10px 11px 5px 0px rgba(0, 0, 0, 0.75);
    // -webkit-box-shadow: 10px 11px 5px 0px rgba(0, 0, 0, 0.75);
    // -moz-box-shadow: 10px 11px 5px 0px rgba(0, 0, 0, 0.75);
}

//power washing / window section 

.title {
    font-size:28px;
    color: #2e6163;
    margin-bottom:10px;
}

.p-text {
    margin:10px;
}
// just testing 
.call-phone{
    animation: colorChange 6s 10s;
}

@keyframes colorChange {
    0% {
        color: white;
    }
    50% {
        color: rgb(255, 235, 12);
    }

    100% {
        color: white;
    }
}