.main-text {
  padding: 50px 20px;
  background-color:#2e6163;
  color:white;

}

.h2-text {
    line-height:1.5;
    text-align: center;
    font-size: 32px;
    border-style:inset;
    border-style: inset;
    border-width: 2.5px;
    border-color: aquamarine white white aquamarine;
    margin-bottom: 30px;
}
.phone-div {
    display:flex;
    justify-content: center;
}
.call-phone {
    text-align: center;
    font-size: 32px;
    color: white;
}
.ourServices {
    color:#2e6163;
    font-size: 42px;
    padding: 30px 0px;
    font-family: Ysabeau Infant;
}

//power washing / window section 

.title {
    font-size:28px;
    color: #2e6163;
}

.p-text {
    margin:10px;
}